.header-main {
    background-color: #30de00;
    background-image: linear-gradient(90deg, #00de90 0%, #c1fb11 50%, #ffcc00 100%);
}

/* Styles for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .header-main {
        background-color: #40ff00; /* Example change for tablet */
    }
}

/* Styles for smartphone */
@media (max-width: 767px) {
    .header-main {
        background-color: #30de00; /* Example change for smartphone */
        background-image: linear-gradient(90deg, #345def 0%, #abcdef 50%, #ffffff 100%);
    }
}
